
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

.main {
    height: 70vh;
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.64;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height:calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding:0 30px;
}

.hero> :nth-child(1){
   font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}


.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation{
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn{
    font-family: 'Poppins', sans-serif;
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(247, 242, 242, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size:20px;
    border-radius: 4px;
    font-weight: 400;

}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding:7px 101px 8px 14px;
    color: white;
    font-weight: 400;
    font-size:12px;
    border-radius: 4px;
    background-color: rgba(23,23,23 ,0.2);
    border: 1px solid rgba(247, 233, 233,0.5);


}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;

}
    

.secIMG {
    position: relative;
}

.secIMG img {
    width: 30vw;
    position: relative;
    z-index: 10;


}

.secIMG video {
    width: 26vw;
    position: absolute;
    top: 51px;
    right: 0;
} 

 section.first > div{
    display: flex;
    flex-direction: column;

}

section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 24px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}

.faq{
    background-color: black;
    color: white;
}

.faqbox{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding:24px;
    max-width: 40vw;
    margin: 34px auto;
    cursor: pointer;
}



 
